html {
  background-color: #008ff5; }
  html #clock {
    color: white;
    font-size: 80px;
    text-align: center;
    position: relative;
    top: 35%; }

img {
  display: inline-block;
  margin-top: 260px;
  margin-left: 500px;
  margin-right: auto;
  -webkit-filter: drop-shadow(1px 1px 0 black)
                   drop-shadow(-1px -1px 0 black);
   filter: drop-shadow(1px 1px 0 black)
           drop-shadow(-1px -1px 0 black);
 }
